body{ background-color: palevioletred;

}

h1{ color: rgb(228, 183, 35); background-color: wheat;

}



h2{ color: yellow; background-color: yellowgreen;

}

h3{ color: red; background-color: violet;

}