body { background-image: url("images.png");
    background-repeat: no-repeat;
    background-size: cover;
    }

    h1 { background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 17%, rgba(212,255,8,1) 48%, rgba(34,0,255,1) 100%); 

    }
    
   nav  { background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 17%, rgba(212,255,8,1) 48%, rgba(34,0,255,1) 100%); 


   }
   
    p  { background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 17%, rgba(212,255,8,1) 48%, rgba(34,0,255,1) 100%); 

    }